model-viewer {
    width: auto;
    height: 70vh;
    margin: 0, auto;
    margin-top: 2vh;
}

body,
html {

    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
    background-color: rgb(12, 12, 12);
}

h1 {
    font-weight: bold;
    font-size: 60px;
    color: rgb(2, 239, 252);
}

nav {
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: rgb(8, 8, 8);
    height: 5vh;
    line-height: 5vh;
}

.cardd {
    background-color: rgb(239, 239, 233);
    color: rgb(2, 239, 252);
    min-height: 70vh;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
}

.block {
    width: 50px;
    background-color: rgb(2, 239, 252);
    position: absolute;
    height: 35vh;
    margin-top: 19vh;
    margin-left: -35px;
}

.text {
    width: 150px;
    position: absolute;
    height: 130px;
    margin-top: 59vh;
    right: 20;
    text-shadow: 1px 1px black;
    z-index: 2;
}

.white {
    height: 10vh;
}

.backbuttonimage {
    width: 40px;
    margin-left: 10px;
    top: -54;
    position: absolute;
}

.backbutton {
    position: absolute;
}

.navmid {
    position: absolute;
    translate: -50px;
}

.navlinks {
    float: right;
    padding-left: 15px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.navlinks:hover {
    color: rgba(255, 255, 255, 0.678);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.889);
}

.modal-content {
    margin: 5%;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    background-color: black;
    color: white;
    border: 2px white solid;
}

.modal-close {
    float: right;
    cursor: pointer;
    font-size: 40px;
    margin-top: -20px;
}

.modal-close:hover {
    color: red;
}

.name-modal {
    width: 150px;
    position: absolute;
    height: 130px;
    right: 10;
}

.text-modal {
    position: absolute;
    width: auto;
    margin-top: 80vh;
    text-align: center;
    left: 50;
}

.modal-button {
    position: absolute;
    width: auto;
    margin-top: 80vh;
    text-align: center;
    right: 50;
}

.modal-button-2 {
    position: absolute;
    width: auto;
    margin-top: 74vh;
    text-align: center;
    right: 50;
}

.modal-white {
    background-color: white;
    color: black;
    border: 2px black solid;
}


.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.modal-content2 {
    margin: 5%;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    background-color: black;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
}

.carouseldiv {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 80%;
    position: relative;

}

.carouselimg {
    width: 100%;
    margin-top: 20%;

}





.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



.hidden2 {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(100%);
}

.show2 {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.modelheight {
    width: 88%;
    margin-left: 6%;
    height: 80%;
}


@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 50px;
    }

    .cardd {
        min-height: 60vh;
    }

    model-viewer {
        height: 60vh;
    }
}

@media only screen and (max-width: 992px) {
    h1 {
        font-size: 45px;
    }

    .cardd {
        min-height: 55vh;
        margin-bottom: 20px;
    }

    .block {
        height: 30vh;
        margin-top: 15vh;
        margin-left: -30px;
        width: 40px;
    }

    .text {
        width: 130px;
        font-size: 16px;
        margin-top: 52vh;
    }

    model-viewer {
        height: 55vh;
    }

    .modal-content {
        margin: 3%;
        width: 94%;
        height: 94%;
    }

    .modal-content2 {
        margin: 3%;
        width: 94%;
        height: 94%;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 35px;
    }

    nav {
        font-size: 16px;
    }

    .cardd {
        min-height: 50vh;
        border-radius: 30px;
    }

    .block {
        height: 25vh;
        margin-top: 13vh;
        margin-left: -25px;
        width: 35px;
    }

    .text {
        width: 120px;
        font-size: 14px;
        margin-top: 45vh;
    }

    model-viewer {
        height: 50vh;
    }

    .modal-content {
        margin: 2%;
        padding: 15px;
        margin-top: 30px;
        width: 96%;
        height: 96%;
    }

    .modal-content2 {
        margin: 2%;
        padding: 15px;
        margin-top: 30px;
        width: 96%;
        height: 96%;
    }

    .modal-close {
        font-size: 35px;
        margin-top: -15px;
    }

    .name-modal {
        font-size: 14px;
        width: 120px;
    }

    .text-modal {
        margin-top: 75vh;
        font-size: 18px;
    }

    .modal-button {
        margin-top: 75vh;
        font-size: 14px;
    }

    .modal-button-2 {
        margin-top: 70vh;
        font-size: 14px;
    }

    .modelheight {
        width: 92%;
        margin-left: 4%;
        height: 70%;
    }

    .carouseldiv {
        margin-top: 8%;
        margin-left: 5%;
        width: 90%;
        height: 75%;
    }

    .carouselimg {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 28px;
    }

    nav {
        font-size: 14px;
        height: 50px;
        line-height: 50px;
    }

    .cardd {
        min-height: 45vh;
        border-radius: 25px;
    }

    .block {
        height: 20vh;
        margin-top: 12vh;
        margin-left: -20px;
        width: 30px;
    }

    .text {
        width: 100px;
        font-size: 12px;
        margin-top: 40vh;
    }

    model-viewer {
        height: 45vh;
    }

    .white {
        height: 5vh;
    }

    .modal-content {
        margin: 1%;
        padding: 10px;
        margin-top: 20px;
        width: 98%;
        height: 98%;
    }

    .modal-content2 {
        margin: 1%;
        padding: 10px;
        margin-top: 20px;
        width: 98%;
        height: 98%;
    }

    .modal-close {
        font-size: 30px;
        margin-top: -10px;
    }

    .name-modal {
        font-size: 12px;
        width: 100px;
        height: 100px;
    }

    .text-modal {
        margin-top: 70vh;
        font-size: 16px;
        left: 5;
    }

    .modal-button {
        margin-top: 70vh;
        font-size: 12px;
        padding: 5px 10px;
        right: 10;
    }

    .modal-button-2 {
        margin-top: 65vh;
        font-size: 12px;
        padding: 5px 10px;
        right: 10;
    }

    .modelheight {
        width: 96%;
        margin-left: 2%;
        height: 65%;
    }

    .carouseldiv {
        margin-top: 10%;
        margin-left: 2%;
        width: 96%;
        height: 70%;
    }

    .carouselimg {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 400px) {
    .navmid {
        display: none;
    }

    nav {
        height: 60px;
        line-height: 55px;
        font-size: 13px;
    }

    h1 {
        font-size: 24px;
    }

    .imagestitle {
        font-size: 10px;
    }

    .cardd {
        min-height: 40vh;
        border-radius: 20px;
    }

    .block {
        height: 18vh;
        margin-top: 10vh;
        margin-left: -15px;
        width: 25px;
    }

    .text {
        width: 90px;
        font-size: 11px;
        margin-top: 35vh;
        right: 15;
    }

    model-viewer {
        height: 40vh;
    }

    .modal-close {
        font-size: 28px;
    }

    .text-modal {
        margin-top: 65vh;
        font-size: 14px;
    }

    .modal-button {
        margin-top: 65vh;
        font-size: 11px;
    }

    .modal-button-2 {
        margin-top: 60vh;
        font-size: 11px;
    }

    .modelheight {
        height: 60%;
    }

    .carouseldiv {
        height: 65%;
    }

    .navlinks {
        padding-left: 8px;
        padding-right: 12px;
        font-size: 13px;
    }
}